/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#topbar
{
    color:#e8e2da;
    font-style:italic;
    font-family:verdana, sans-serif;
    font-size:11px;
    text-align:right;
    padding-top:4px;
    padding-bottom:2px;
    
}
#container
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background-color:#51473d;
    overflow:auto;
    padding:12px;
}

#menu li
{
    list-style-type: none;
    float:left;
}
#menu ul li a
{
    margin:1px;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:10px;
    background-color:#a29279;
    color:#e8e2da;
    
}
#menu ul li a:hover
{
    
}
#menu .active a
{
    color:#624d3a;
    background-color:#eae7d2;
}
#content
{
    clear:left;
    color:#624d3a;
    background-color:#eae7d2;
}