/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#topbar
{
    color:#e8e2da;
    font-style:italic;
    font-family:verdana, sans-serif;
    font-size:11px;
    text-align:right;
    padding-top:4px;
    padding-bottom:2px;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-position:bottom;
    height:225px;
}
#container
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background-color:#51473d;
    overflow:auto;
    padding:12px;
}
#menu a
{
    display:none;
}
#menu li
{
    list-style-type: none;
    float:left;
    margin-bottom:-1px;
}
#menu ul li a
{
    margin:1px;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:10px;
    background-color:#a29279;
    color:#e8e2da;
    text-transform: capitalize;
}
#menu ul li a:hover
{
    
}
#menu .active a
{
    color:#624d3a;
    background-color:#e8e5dc;
}
#content
{
    clear:left;
    color:#624d3a;
    background-color:#e8e5dc;
    padding:10px;
}
#content p
{
    font-family:sans-serif;
}
#maincontent img
{
    float:left;
}
#maincontent
{
    font-size:14px;
    width:353px;
    border-right:1px dashed grey;
}
#subcontent
{
    max-width:200px;
}
#subcontent h1
{
    font-size:16px;
    font-family:"Times New Roman", serif;
}
#subcontent p
{
    font-size:10px;
    line-height:14px;
}
#subcontent h2
{
    font-size:16px;
    font-family:"Times New Roman", serif;
}