/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
.body
{
    margin-left:auto;
    margin-right:auto;
}
#topbar
{
    color:#e8e2da;
    font-family:verdana, ,sans-serif;
    text-align:right;
    background-color:#51473d;
    padding-top:4px;
    padding-bottom:2px;
}
#container
{
    width:600px;
}